*{
    margin: 0;
    padding: 0;
    justify-content: center;
}
main{
    margin-top: 10%;
    margin-bottom: 10%;
}
#titulo{
    font-family: 'Franklin Gothic Medium';
    color: rgb(12, 12, 160);
}
#subt{
    font-family: 'Franklin Gothic Medium';
    color: rgb(12, 12, 160);
    margin-left: 10%;
}
fieldset{
    border: 0;
}
body{
    background-color: rgb(219, 201, 219);
    font-family: 'Franklin Gothic Medium';
    font-size: 100%;
    color: rgb(3, 31, 32);
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}
input, select, textarea, button{
    border-radius: 8%;
}
.campo{
    margin-bottom: 1%;
}
.campo label{
    color: black;
    display: block;
}
fieldset.grupo .campo{
    float: center;
}
.campo input[type= "text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.6%;
    box-shadow: 2px 2px 2px black;
    display: block;
}